<h1><%= @team.name %> (<%= @team.tournament.year%>)</h1>
<%= link_to "Рейтинг", @team.rating_link %>

<% @team.players.each do |player| %>
  <p><%= link_to player.name, player_path(player) %> </p>
<% end %>