<h1>кесты</h1>

<table>
  <tr>
    <th>Город</th>
    <th>Год</th>
    <th></th>
  </tr>

  <% @tournaments.each do |tournament| %>
    <tr>
      <td><%= link_to tournament.city, tournament_path(tournament) %></td>
      <td><%= tournament.year %></td>
    </tr>
  <% end %>
</table>